@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>
    This project allows to manage emplyees information. </br>
    The major feature is to upload csv file and save all records in the database. </br>
    Additionally, you can edit, delete and search. </br>
    </br>If you have any questions, contact <a href="mailto:vladpak555@gmail.com">vladpak555@gmail.com</a>
</p>
